<div class="d-flex justify-content-between flex-wrap">
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('+')">+</button>
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('-')">-</button>
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('x')">x</button>
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('/')">/</button>
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('^')">^</button>
    <button class="btn btn-primary mb-2" (click)="realizarOperacion('√')">√</button>
    <button class="btn btn-danger mb-2" (click)="realizarOperacion('CE')">CE</button>
  </div>
  